* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
 
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  background-color: #f2f4f6;
  max-width: '100%' ! important;
}
main {
  padding: 10px;
  min-width: 1700px !important;
  max-width: 1700px !important

}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: #122b3f;
  color: white;
  height: 100vh;
  overflow-y: auto;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: rgb(36, 64, 95);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(236, 176, 106);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(223, 133, 48);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}
.Col{
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none !important;
}
#sri{
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.Col{
  flex: 100%;
}
@media screen and (min-width: 1200px) {
 .main{
  max-width: '1000px'  !important;
  }
}